/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;

}


/* Common Css */

.container {
    background-color: #fff;
    padding: 87px 60px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.link-button {
    background-color: #E02C6D;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    margin-top: 16px;
    display: inline-block;

}

/* Menu Part */
.navigation {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #3A3A3A;
}

.menu {
    display: flex;

}

.menu li {
    margin: 0 10px;
}

.menu li a {
    color: #3A3A3A;
}

/* Banner Part */

.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.banner p {
    font-size: 16px;
}

.banner-left h1 {
    font-size: 52px;
    color: #3A3A3A;
}

.banner-left img {
    width: 440px;
    height: 414px;
}

/* Company Logos */

.logos {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}



/* Popular Collections Part */

.popular-collections>h2 {
    font-weight: 600;
    color: #3A3A3A;
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
}

.carts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;


}

.cart {
    box-shadow: 2px 0px 40px lightgrey;
    padding: 20px;
    margin: 0 auto;
}

.cart .cart-image {
    width: 100%;


}

.ratings .fa-star,
.fa-star-half-alt {
    color: #FB8200;
}

.cart-details h2 {
    color: #18191F;
}

.cart-details p {
    color: #787885;
}

.right-arrow {
    text-align: end;
    font-size: 16px;
    color: #E02C6DDE;
}

.fa-arrow-right {
    margin-left: 10px;
    margin-top: 30px;
}



/* More Items */

.more-items {
    text-align: center;
}

.more-items h2 {
    color: #E02C6DDE;
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    box-shadow: 2px 2px 10px grey;
    margin-top: 20px;
}

.items h2 {
    font-size: 18px;
    color: #18191F;
    margin: 10px;


}


.more-items .items img {
    width: 200px;
    height: 200px;
}


/* Footer */

footer {
    background-color: #0A0826;
    text-align: center;
    padding: 50px 0;
    color: #fff;
}

footer h2 {
    font-size: 24px;

}

footer p {
    font-size: 14px;
}

.footer-icons {
    display: flex;
    justify-content: center;
}

.footer-icons i {
    margin: 0 16px;
    color: #fff;
    margin-top: 17px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #22213C;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}